
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<style  type="text/css">
      .header{
            margin-left: 15px;
      }

      table td.absent{
            background-color: rgb(49, 49, 49);
      }
      .vertical{
            writing-mode: vertical-rl;
            text-orientation: mixed;
      }
</style>
  <!-- start page title -->
  <div class="row">
      <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0 font-size-18">O'quvchiga vazifa </h4>

              <div class="page-title-right">
                  <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="{% url 'teacher-dashboard' %}">Boshqaruv paneli</a></li>
                      <li class="breadcrumb-item active">Vazifa </li>
                  </ol>
              </div>
          </div>
      </div>
    </div>
<div class=" ">
      <div class="row">
            <div class="col-12">
                <div class="card">
                    <form method="post" class="card-body" enctype="multipart/form-data">
                        {% csrf_token %}
                       {{ form|crispy }}
                        <button type="submit">Yuborish</button>
                    </form>
                </div>
</div>
</div>
</div>
</div>
{% endblock content %}