{% extends "boss/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Dif Students</h2>
    <form id="dif-students-form" method="post" action="{% url 'dif_students_view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Dif Student</button>
    </form>
    <br>
    <h3>All Dif Students</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Course</th>
                <th>Dif Summ</th>
                <th>Teacher Money</th>
            </tr>
        </thead>
        <tbody id="dif-students-table">
            {% for student in dif_students %}
            <tr>
                <td>{{ student.student.full_name }}</td>
                <td>{{ student.course.name }}</td>
                <td>{{ student.dif_summ }}</td>
                <td>{{ student.teacher_money }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
