{% extends 'boss/base.html' %}
{% block title %} Barcha o'qituvchilar {% endblock title %}

{% block content %}
<div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <button 
            type="button" 
            class="btn btn-lg btn-secondary text-white"   
        >
            <a class="text-white" href="{% url 'create-user' %}">O'qituvchi yaratish</a>
        </button>
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Kirim</a></li>
                <li class="breadcrumb-item active">Barcha o'qituvchilar</li>
            </ol>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Barcha o'qituvchilar</h4>
        <div>
            <a class="btn btn-outline-primary" href="{% url 'teachers' %}">Barcha</a>
            <a class="btn btn-outline-success" href="{% url 'active-teachers' %}">Faol</a>
            <a class="btn btn-outline-danger" href="{% url 'inactive-teachers' %}">Nofaol</a>
        </div>
    </div>
    <div class="card-body" style="overflow-x: auto;">
        <table class="table datatable-buttons">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism, Familiya</th>
                    <th scope="col">Email</th>
                    <th scope="col">Hamyon</th>
                    <th scope="col">Kurs</th>
                    <th scope="col">Ekshin</th>
                </tr>
            </thead>
            <tbody>
                {% for i in teachers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{i.first_name}} {{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.wallet}}</td>
                    <td>{% for a in i.courses %} {{a.name}} <br> {% endfor %}</td>
                    <td><a class="btn btn-primary badge" href="{% url 'give-salary' i.id %}">Oylik berish</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
