{% extends 'boss/base.html' %}
{% block title %} Barcha kurslar {% endblock title %}

{% block content %}
<style>
.card {
    border: none;
    overflow-x: auto;
}
</style>
<div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Barcha kurslar</h4>
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Kirim</a></li>
                <li class="breadcrumb-item active">Barcha kurslar</li>
            </ol>
        </div>
    </div>
</div>
<div style="margin-top: 15px;" class="card shadow col-12">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Barcha kurslar</h4>
        <div>
            <a class="btn btn-outline-primary" href="{% url 'courses' %}">Barcha</a>
            <a class="btn btn-outline-success" href="{% url 'ongoing-courses' %}">Davom etayotgan</a>
            <a class="btn btn-outline-danger" href="{% url 'ended-courses' %}">Tugagan</a>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kurs nomi</th>
            <th scope="col">Ustoz</th>
            <th scope="col">Narx</th>
            <th scope="col">Kunlar</th>
            <th scope="col">Smena</th>
            <th scope="col">Xona</th>
            <th scope="col">O'quvchilar soni</th>
            <th scope="col">Ekshin</th>
            <th scope="col">Holati</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'course_details' course_id=course.id %}">{{ course.name }}</a></td>
            <td>{{ course.teacher }}</td>
            <td>{{ course.price }} so'm</td>
            <td>
                {% if course.days == '1' %}
                Dush-Chor-Jum
                {% else %}
                Sesh-Pay-Shan
                {% endif %}
            </td>
            <td>{{ course.time }}</td>
            <td>{{ course.room }}</td>
            <td>{{ course.students.count }}</td>
            <td><a class="btn btn-danger badge" href="{% url 'edit-course' course.id %}">Tahrirlash</a></td>
            <td>
                {% if course.is_ended %}
                ❌
                {% else %}
                ✅
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock content %}
